.project>img{
    width: 250px;
    height: 179px;
}
.project{
    margin: 15px;
    width: 250px;
    height: 179px;    
    
}
.project:hover{
    color: white;
    background-color: #f64646;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project__content{
    padding:10px;
    }
.project__content > h4{
    padding-bottom: 5px;
}
.project__content >p{
    font-size: 15px;

}
.anchor{
    text-decoration: none;
}